
<h1>  Students: </h1>

 
<button > <%= link_to "add sstudent ", new_student_path %> </button>
</br>
 <% @students.each do |student|  %>

<h2>
<%=   student.first_name  %>
<%=   student.last_name  %>
<%=   student.age %>
<%=   student.highest_level_of_education %>
</h2>

<%  end %> 