
<h1>  Instructors: </h1>

 
<button > <%= link_to "add instructor ", new_instructor_path %> </button>

</br>
</br> 
<% @instructors.each do |instructor|  %>
<p id="instructor<%=instructor.id%>">
<%=  instructor.first_name  %>
<button > <%= link_to "edit ", edit_instructor_path(instructor) %> </button>

<%=  instructor.last_name  %>
<%=  instructor.age %>
<%=  instructor.salary %>
<%=  instructor.highest_comp_ed %>

<%= link_to(instructor_path(id: instructor.id),method: :delete, remote: true ) do %>
"DELETE"
<%  end %> 
</p>
<%  end %> 